@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .signup-input {
    @apply form-input w-full p-4 border-b-2 border-b-yellowish-orange mt-8 placeholder:text-xl outline-none border-t-0 border-l-0 border-r-0;
  }
  .link-icons {
    @apply p-3 rounded-full bg-dark-green text-white;
  }
  .menu-child {
    @apply h-[4px] mt-[6px] bg-dark-green;
  }
  .menu {
    @apply w-[2.5rem] h-[2rem] cursor-pointer lg:hidden;
  }
  .dropdown-link {
    @apply block text-xl px-[1rem] py-[5px]  rounded-md my-[2px] text-dark-green;
  }
  .side-link {
    @apply font-dancing text-2xl font-[900] my-[1.5rem] text-dark-green hover:text-yellowish-orange;
  }
  .nav-link {
    @apply text-xl text-dark-green hover:text-dark-gold;
  }
  .contactUs {
    @apply block py-4 w-full bg-transparent border-b-[2px] border-white border-t-0 mt-[2rem] lg:mt-[5rem] outline-none border-x-0 placeholder:text-white placeholder:text-xl text-white text-xl;
  }
  .account-links {
    @apply flex bg-white items-center gap-5 py-3 px-4 border-b-[1px];
  }
  .account-icon {
    @apply text-[19px];
  }
  .contact {
    @apply w-full h-[90dvh] lg:h-[130vh];
  }
  .checkout-input {
    @apply w-full bg-transparent py-2 border-0 border-b-[1px] border-gray-300 my-5;
  }
}
html {
  scroll-behavior: smooth;
}
.table-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
}
.order-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}
.wishlist-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
}
.cart-grid {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr 1fr;
  gap: 1rem;
}

.contact {
  background-image: url("/paralax.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #e2d7bb;
}
